Repository GoogleCloudPlatform/ruby-docs-samples, pull requests merged in 2020-11, with the labels that each got.

#698 Update region tags for Cloud Run
  run/helloworld/Dockerfile
  run/helloworld/app.rb
Labels: cla: yes

#699 fix: Tag the GCF storage unit test
  functions/Gemfile.lock
  functions/concepts/scopes/Gemfile.lock
  functions/slack/Gemfile.lock
  functions/test/helloworld/storage_test.rb
Labels: cla: yes

#700 feat(pubsub): Add pubsub_dead_letter_remove
  pubsub/Gemfile
  pubsub/Gemfile.lock
  pubsub/acceptance/subscriptions_test.rb
  pubsub/acceptance/topics_test.rb
  pubsub/subscriptions.rb
Labels: api: pubsub, cla: yes

#701 pubsub(chore): Add sleep to expect_with_retry in tests
  pubsub/acceptance/subscriptions_test.rb
  pubsub/acceptance/topics_test.rb
Labels: api: pubsub, cla: yes, type: cleanup

#707 pubsub(chore): Fix subscriptions_test.rb
  pubsub/Gemfile.lock
  pubsub/acceptance/subscriptions_test.rb
Labels: api: pubsub, cla: yes, samples
