Repository GoogleCloudPlatform/ruby-docs-samples, pull requests merged in 2021-06, with the labels that each got.

#814 feat(spanner): update samples for optimizer statistics package
  spanner/Gemfile.lock
  spanner/spanner_samples.rb
Labels: api: spanner, cla: yes, samples

#813 docs(run): connect cloud storage to cat_album
  run/rails-cat_album/.env
  run/rails-cat_album/Gemfile
  run/rails-cat_album/Gemfile.lock
  run/rails-cat_album/app/helpers/photos_helper.rb
  run/rails-cat_album/app/views/photos/index.html.erb
  run/rails-cat_album/app/views/photos/show.html.erb
  run/rails-cat_album/config/database.yml
  run/rails-cat_album/config/environments/production.rb
  run/rails-cat_album/config/storage.yml
Labels: api: run, cla: yes, samples

#815 run(chore): fix image_url helper to generate URL based on specific bucket name
  run/rails-cat_album/.env
  run/rails-cat_album/app/helpers/photos_helper.rb
Labels: cla: yes, samples
