Repository GoogleCloudPlatform/ruby-docs-samples, pull requests merged in 2021-02, with the labels that each got.

#732 chore(logging): resolve logging_middleware sample conflict
  stackdriver/sinatra_logging.rb
Labels: api: logging, cla: yes, samples

#730 build: migrate to flakybot
  spec/kokoro-run-all.sh
Labels: cla: yes, samples

#739 fix(pubsub): Rename resource name parameters and variables
  pubsub/Gemfile.lock
  pubsub/README.md
  pubsub/acceptance/helper.rb
  pubsub/acceptance/quickstart_test.rb
  pubsub/acceptance/subscriptions_test.rb
  pubsub/acceptance/topics_test.rb
  pubsub/quickstart.rb
  pubsub/subscriptions.rb
  pubsub/topics.rb
Labels: api: pubsub, cla: yes, samples

#749 chore(iap): deflake tests
  iap/iap.rb
  iap/spec/iap_spec.rb
Labels: cla: yes, do-not-merge, samples

#748 fix: allow gcloud installation on run tests
  eventarc/generic/Dockerfile
  eventarc/generic/Gemfile.lock
  eventarc/pubsub/Dockerfile
  eventarc/pubsub/Gemfile.lock
  spec/kokoro-run-all.sh
Labels: cla: yes, samples

#750 samples: correct region tag in pub/sub JWT sample
  appengine/pubsub/app.rb
Labels: api: pubsub, cla: yes, samples

#695 spanner: commit stats example
  spanner/Gemfile.lock
  spanner/spanner_samples.rb
  spanner/spec/spanner_samples_spec.rb
Labels: api: spanner, cla: yes, samples

#754 Show timestamps for ruby function scope
  functions/test/tips/scopes_test.rb
  functions/tips/scopes/app.rb
Labels: cla: yes, samples

#734 feat: adds the pitr samples
  spanner/spanner_samples.rb
  spanner/spec/spanner_samples_spec.rb
Labels: cla: yes, samples

#757 fix(spanner): backup filter with size zero.
  spanner/spanner_samples.rb
  spanner/spec/spanner_samples_spec.rb
Labels: api: spanner, cla: yes, samples
