Repository GoogleCloudPlatform/ruby-docs-samples, pull requests merged in 2021-07, with the labels that each got.

#811 chore: adjust wording following guidance from respectful code cleanup
  appengine/rails-cloudsql-mysql/app/controllers/cats_controller.rb
  appengine/rails-cloudsql-postgres/app/controllers/cats_controller.rb
Labels: cla: yes, samples

#794 feat(spanner): add samples for creating instances with processing units
  spanner/Gemfile.lock
  spanner/spanner_samples.rb
  spanner/spec/spanner_samples_spec.rb
  spanner/spec/spec_helper.rb
Labels: api: spanner, automerge, cla: yes, samples

#817 chore: Update functions framework dependencies to 1.0
  .toys/update-gemfile-locks.rb
  functions/Gemfile
  functions/Gemfile.lock
  functions/concepts/filesystem/Gemfile
  functions/concepts/filesystem/Gemfile.lock
  functions/concepts/requests/Gemfile
  functions/concepts/requests/Gemfile.lock
  functions/concepts/stateless/Gemfile
  functions/concepts/stateless/Gemfile.lock
  functions/env_vars/Gemfile
  functions/env_vars/Gemfile.lock
  functions/firebase/analytics/Gemfile
  functions/firebase/analytics/Gemfile.lock
  functions/firebase/auth/Gemfile
  functions/firebase/auth/Gemfile.lock
  functions/firebase/firestore/Gemfile
  functions/firebase/firestore/Gemfile.lock
  functions/firebase/reactive/Gemfile
  functions/firebase/reactive/Gemfile.lock
  functions/firebase/remote_config/Gemfile
  functions/firebase/remote_config/Gemfile.lock
  functions/firebase/rtdb/Gemfile
  functions/firebase/rtdb/Gemfile.lock
  functions/helloworld/get/Gemfile
  functions/helloworld/get/Gemfile.lock
  functions/helloworld/http/Gemfile
  functions/helloworld/http/Gemfile.lock
  functions/helloworld/log/Gemfile
  functions/helloworld/log/Gemfile.lock
  functions/helloworld/pubsub/Gemfile
  functions/helloworld/pubsub/Gemfile.lock
  functions/helloworld/storage/Gemfile
  functions/helloworld/storage/Gemfile.lock
  functions/http/content/Gemfile
  functions/http/content/Gemfile.lock
  functions/http/cors/Gemfile
  functions/http/cors/Gemfile.lock
  functions/http/form_data/Gemfile
  functions/http/form_data/Gemfile.lock
  functions/http/method/Gemfile
  functions/http/method/Gemfile.lock
  functions/imagemagick/Gemfile
  functions/imagemagick/Gemfile.lock
  functions/slack/Gemfile
  functions/slack/Gemfile.lock
  functions/tips/infinite_retries/Gemfile
  functions/tips/infinite_retries/Gemfile.lock
  functions/tips/lazy/Gemfile
  functions/tips/lazy/Gemfile.lock
  functions/tips/retry/Gemfile
  functions/tips/retry/Gemfile.lock
  functions/tips/scopes/Gemfile
  functions/tips/scopes/Gemfile.lock
Labels: cla: yes, samples

#833 chore(run): update rails cloud run app to work on Ruby 3.0.2
  Rakefile
  run/rails/Dockerfile
  run/rails/Gemfile
  run/rails/Gemfile.lock
Labels: api: run, cla: yes, samples

#834 chore(run): update command for installing node in Dockerfile
  run/rails/Dockerfile
Labels: api: run, cla: yes, samples

#835 chore(run): add region tags to rails cloud run sample app
  run/rails/Dockerfile
  run/rails/cloudbuild.yaml
  run/rails/config/database.yml
  run/rails/config/environments/production.rb
  run/rails/config/storage.yml
Labels: api: run, automerge, cla: yes, samples

#837 fix(spanner): update optimizer_statistics_package to latest
  spanner/spanner_samples.rb
Labels: api: spanner, cla: yes, samples

#839 chore(run): edit Dockerfile, Gemfile, and index.html.erb
  run/rails/Dockerfile
  run/rails/Gemfile
  run/rails/app/views/photos/index.html.erb
Labels: api: run, cla: yes, samples
