Repository GoogleCloudPlatform/ruby-docs-samples, pull requests merged in 2021-05, with the labels that each got.

#797 update google-style version and resolve linter offenses
  .rubocop.yml
  Gemfile
  appengine/cloud-tasks/app.rb
  appengine/rails-cloudsql-mysql/Gemfile
  appengine/rails-cloudsql-mysql/config/environments/production.rb
  appengine/rails-cloudsql-mysql/config/puma.rb
  appengine/rails-cloudsql-postgres/Gemfile
  appengine/rails-cloudsql-postgres/config/environments/production.rb
  appengine/rails-cloudsql-postgres/config/puma.rb
  appengine/rails-hello_world/config/environments/production.rb
  appengine/rails-hello_world/config/puma.rb
  appengine/standard-cloud-tasks/app.rb
  appengine/standard-hello_configs/config.ru
  appengine/standard-hello_configs/puma.rb
  appengine/standard-rails-hello-world/config/environments/production.rb
  appengine/standard-rails-hello-world/config/puma.rb
  appengine/standard-static-files/rails/Gemfile
  appengine/standard-static-files/rails/config.ru
  appengine/static_files/rails/Gemfile
  appengine/static_files/rails/config.ru
  bigtable/filter_samples.rb
  bigtable/instanceadmin.rb
  bigtable/read_samples.rb
  cdn/Gemfile
  cloud-sql/mysql/activerecord/Gemfile
  cloud-sql/mysql/activerecord/bin/yarn
  cloud-sql/mysql/activerecord/config/environments/production.rb
  cloud-sql/mysql/activerecord/config/puma.rb
  cloud-sql/mysql/activerecord/spec/controllers/votes_spec.rb
  cloud-sql/postgres/activerecord/Gemfile
  cloud-sql/postgres/activerecord/bin/yarn
  cloud-sql/postgres/activerecord/config/environments/production.rb
  cloud-sql/postgres/activerecord/config/puma.rb
  cloud-sql/postgres/activerecord/spec/controllers/votes_spec.rb
  cloud-sql/sqlserver/activerecord/Gemfile
  cloud-sql/sqlserver/activerecord/bin/yarn
  cloud-sql/sqlserver/activerecord/config/environments/production.rb
  cloud-sql/sqlserver/activerecord/config/puma.rb
  cloud-sql/sqlserver/activerecord/spec/controllers/votes_spec.rb
  functions/concepts/stateless/app.rb
  functions/http/content/app.rb
  functions/test/firebase/analytics_test.rb
  functions/test/firebase/firestore_test.rb
  functions/test/slack_test.rb
Labels: cla: yes, samples

#798 chore: Update a bunch of code for google-style 1.25
  .rubocop.yml
  cloud-sql/mysql/activerecord/spec/controllers/votes_spec.rb
  cloud-sql/sqlserver/activerecord/spec/controllers/votes_spec.rb
  iot/iot.rb
  jobs/Gemfile
  jobs/V3/auto_complete_sample.rb
  jobs/V3/basic_company_sample.rb
  jobs/V3/basic_job_sample.rb
  jobs/V3/batch_operation_sample.rb
  jobs/V3/quickstart.rb
  run/rails-cat_album/config/environments/production.rb
  run/rails-cat_album/config/puma.rb
  secretmanager/Gemfile
  secretmanager/snippets.rb
  servicedirectory/Gemfile
  spanner/spanner_samples.rb
Labels: cla: yes, samples

#799 chore: test against only oldest and newest ruby versions
  .kokoro/docker/ruby-2.4/Dockerfile
  .kokoro/docker/ruby-2.5/Dockerfile
  .kokoro/docker/ruby-2.6/Dockerfile
  .kokoro/presubmit/ruby-2.5.cfg
  .kokoro/presubmit/ruby-2.6.cfg
  .kokoro/presubmit/ruby-newest.cfg
  .kokoro/presubmit/ruby-oldest.cfg
  .kokoro/system_tests/ruby-2.5.cfg
  .kokoro/system_tests/ruby-2.6.cfg
  .kokoro/system_tests/ruby-newest.cfg
  .kokoro/system_tests/ruby-oldest.cfg
  spec/kokoro-run-all.sh
Labels: cla: yes, samples

#802 pubsub: delete
  .rubocop.yml
  pubsub/Gemfile
  pubsub/Gemfile.lock
  pubsub/README.md
  pubsub/Rakefile
  pubsub/acceptance/helper.rb
  pubsub/acceptance/quickstart_test.rb
  pubsub/acceptance/subscriptions_test.rb
  pubsub/acceptance/topics_test.rb
  pubsub/app.yaml
  pubsub/listener.rb
  pubsub/quickstart.rb
  pubsub/subscriptions.rb
  pubsub/topics.rb
Labels: api: pubsub, cla: yes, samples

#801 bigtable: delete
  bigtable/Gemfile
  bigtable/Gemfile.lock
  bigtable/README.md
  bigtable/Rakefile
  bigtable/acceptance/filter_samples_test.rb
  bigtable/acceptance/hello_world_test.rb
  bigtable/acceptance/helper.rb
  bigtable/acceptance/instanceadmin_test.rb
  bigtable/acceptance/quickstart_test.rb
  bigtable/acceptance/read_samples_test.rb
  bigtable/acceptance/tableadmin_test.rb
  bigtable/acceptance/write_samples_test.rb
  bigtable/filter_samples.rb
  bigtable/hello_world.rb
  bigtable/instanceadmin.rb
  bigtable/quickstart.rb
  bigtable/read_samples.rb
  bigtable/tableadmin.rb
  bigtable/write_samples.rb
Labels: api: bigtable, cla: yes, samples

#805 fix(spanner): insert statements
  spanner/spanner_samples.rb
Labels: api: spanner, cla: yes, samples, type: bug

#803 docs: use single use transaction for quickstart query
  spanner/quickstart.rb
Labels: cla: yes, samples

#807 fix(spanner): list backups test
  spanner/spec/spanner_samples_spec.rb
Labels: api: spanner, cla: yes, samples

#808 Update CODEOWNERS / Blunderbuss for SoDA teams
  .github/CODEOWNERS
  .github/blunderbuss.yml
Labels: automerge, cla: yes, samples
